@font-face {
    font-family: 'Modern';
    src: url('../fonts/Modern.otf') format('opentype');
}

@font-face {
    font-family: 'Modern-Bold';
    src: url('../fonts/Modern-Bold.otf') format('opentype');
}

body {
    font-family: 'Modern';
    background-color: #cbd9d9;
    height: 100vh;
    width: 100vw; 
}

h1,h2{
    font-family: 'Modern-Bold';
}

#content {
    width: 85%;
    margin: auto;
}

#main-header, #main-footer {
    background: #046865;
}

#main-header {
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding-top: 5px;
}

#header-top{
    margin-top: 10px;
    display: flex;
    align-items: center; 
    position: relative;
    margin-bottom: 10px;

}

#back-link{
    position: absolute;
    left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.888); 
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

#back-link:hover{
    background-color: rgba(255, 255, 255, 0.693);
    border: 1px solid black;
}

h1 {
    margin: 0 auto; 
    font-size: 30px;
    text-align: center;
}

#assignments-header {
    text-align: center;
}

#main-footer {
    border-radius: 0 0 5px 5px;
    padding-bottom: 5px;
}

#main-footer p{
    transform: translateY(45%);
    padding: 5px;
}

#main-content {
    padding: 5px;
    background-color: #046865;
    border: 2px solid rgb(3, 3, 63);
}

#nav-items, #main-content{
    font-size: 1.3rem;
}

.column, #image {
    margin: 5px;
    text-align: center;
}

.column {
    padding: 3px;
    background-color:#fffffff3;
    border: 1px solid rgb(3, 3, 63);
    border-radius: 10px;
}

#image {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

#assignment-link {
    text-decoration: none;
    color: #046865;
    border-bottom: 1px solid transparent; 
    transition: 0.3s ease;
}

#assignment-link:hover {
    border-bottom: 1px solid #046865;
}

/* Main Nav */
#main-nav ul {
    padding: 0; 
    display: flex; 
}

#main-nav li {
    list-style-type: none; 
    margin: 5px;
}

#main-nav a {
    display: inline-flex; 
    text-decoration: none; 
    background-color: #cbd9d9;
    padding: 10px;
    color: black; 
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

#main-nav a:hover {
    background-color:#acb8b8;
    border: 1px solid black;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, #main-nav a, .flex-container {
        display: flex;
    }
    .assignments, .projects {
        flex-wrap: wrap;
    }
    #main-nav li, .col1of3, #image{
        flex: 1;
    }

    #image {
        justify-content: space-between;
    }
    .col1of3, .projects{
        flex: 30%;
    }
}