body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/web-background.jpg);
}

#content {
    width: 85%;
    margin: auto;
}

#main-header, #main-footer {
    background: rgba(22, 29, 80, 0.70);
    color: white;
}

#main-header {
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding-top: 5px;
}


#main-footer {
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.sub-section {
    padding: 5px;
    border: 5px solid rgb(3, 3, 63);
}

#main-content {
    padding: 5px;
}

.column {
    text-align: center;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    background-color: #aec3fa;
    width: 100%;
}


#assignment-link, #project-link {
    text-decoration: none;
    color: rgb(38, 45, 91);
}

#assignment-link:hover, #project-link:hover{
    color:rgb(105, 142, 221);
}

/* Main Nav */

#main-nav li {
    list-style-type: none; 
    display: inline-block; 
    margin: 5px;
}

#main-nav ul {
    padding: 0; /* Remove padding from the ul */
}

#main-nav a {
    text-decoration: none; /* gets rid of underlines */
    background-color: #93b0f7;
    padding: 10px;
    color: black; 
    text-align: center;
    border-radius: 10px;
}

#main-nav a:hover {
    background-color:rgb(53, 69, 128);
    border: 2px solid white;
    color: white;
}


/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, .flex-container, #main-nav a {
        display: flex;
    }
    #main-nav li, .column{
        flex: 1;
    }

}