/* Structure */
body {
    background-color: blanchedalmond;
}

/* Animation */

#square {
    background-color: darkslategray;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.move-square {
    position: relative;
    animation-name: anim-square;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anim-square {
    0% {
        background-color: darkslategray;
        opacity: 1;
        top: 0px;
    }
    50% {
        background-color: cadetblue;
        opacity: 0;
        top: 100px;
    }
    100% {
        background-color: lightblue;
        opacity: 1;
        top: 0px;
    }
}

